@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");

* {
  font-family: "Ibarra Real Nova", serif;
}

@media (max-width: 900px) {
  /* .container {
    background: #fafafa;
    overflow-y: scroll;
    height: 102vh;
    color: #161616;
  } */

  .catalogo {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 0 auto;
  }
  .titulo-catalogo {
    font-size: 4vh;
    text-align: center;
    font-weight: 550;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
}

@media (min-width: 900px) {
  .catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95vw;
    margin: 0 auto;
  }
  .titulo-catalogo {
    font-size: 4vh;
    text-align: center;
    font-weight: 550;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
}
